body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.rps_background {
    background-image: url('rps_background.jpg'); /* Cambia 'arcade-background.jpg' por la ruta de tu imagen de fondo de arcade */
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.game-title {
    font-size: 36px;
    color: #5e1ff3; /* Color rojo coral */
    text-shadow: 2px 2px 2px #000000; /* Sombra de texto */
    padding: 10px 20px;
    background-color: #a2ff7a; /* Color dorado */
    border: 2px solid #064218; /* Borde marrón */
    border-radius: 10px; /* Bordes redondeados */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #54d945; /* Color dorado */
    color: #000000; /* Color negro */
    border: 2px solid #5f3dda; /* Borde marrón */
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
}

button:hover {
    background-color: #57fa77; /* Color amarillo al pasar el ratón */
}

button:focus {
    outline: none; /* Quita el borde al hacer clic */
}
.special-button {
    font-size: 14px;
    padding: 10px;
    background-color: #5e1ff3; /* Color rojo coral */
    color: #FFF; /* Color del texto */
    border: none;
    border-radius: 6px;
    margin-top: 8px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Efecto relieve */
}

.special-button:hover {
    background-color: #5e1ff3; /* Color naranja al pasar el ratón */
}

.special-button:focus {
    outline: none;
}
